{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{% trans "Idea Match" %}</title>

<meta property="og:title" content="Idea Match" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://open-letter-to.appspot.com" />
<meta property="og:image" content="http://open-letter-to.appspot.com/images/open_letter.jpg" />
<meta property="fb:app_id" content="195254580510313" />

                <link type="text/css" href="css/main.css" rel="stylesheet" />

		<Link type="text/css" href="css/flick/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	

		<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
                <script type="text/javascript" src="js/jquery.form.js"></script>

                <script type="text/javascript" src="js/main.js"></script>

                <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection" />
                <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print" />

                <!-- Import fancy-type plugin. -->
                <link rel="stylesheet" href="css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />


                <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->



<!-- Load IxEdit ( You can delete these two lines after deploying. ) -->
<!-- <script type="text/javascript" src="js/ixedit/ixedit.packed.js"></script> -->
<!-- <link type="text/css" href="js/ixedit/ixedit.css" rel="stylesheet" /> -->


<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>

<script type="text/javascript">

function showLoading() {
  $("#loading").show();
}

function hideLoading() {
  $("#loading").hide();
}


function show_edit_dialog( match_key ) {

    // load any existing letters
    $.getJSON("ajax.html?action=edit_match_html;match_key=" + match_key,

       function(data){

            if( data.error ) {

               alert( data.error );
            } else if( data.edit_match_html != "" ) {

                $('#edit_match_div').html( data.edit_match_html );


                $('#edit_match_form').ajaxForm({
                    dataType:  'json', 
                    success: function(data) { 
                        if( data.error ) {
                           alert( data.error );
                        } else {

                            $("#edit_match_div").dialog('close');

                            $('#existing_matches_section').html( data.user_matches );

                        }
                    }
                } );


                $("#edit_match_div").dialog({
			autoOpen: false,
			height: ( $(window).height() - 20 ),
			width: 700,
			modal: true,
                        title: "{% trans "Edit Match" %}",
                      });

                $("#edit_match_div").dialog( 'open' );

            } else {

                 alert( " cannot load match " );
            }
       }
    );

    return false;
}



function show_del_dialog( match_key ) {
    // load any existing matches

    $.getJSON("ajax.html?action=del_match_data;match_key=" + match_key,
       function(data){

            if( data.desc != "" ) {

                $('#del_match_key').val(match_key);
                $('#del_match_title').html(data.title);
                $('#del_match_num_ideas').html(data.num_ideas);

                $('#del_match_form').ajaxForm({
                    dataType:  'json', 
                    success: function(data) { 
                        if( data.error ) {
                           alert( data.error );
                        } else {

alert(' XXX, remember to also make it delete ideas' );

                            $('#existing_matches_section').html( data.user_matches );

                            $("#del_match_div").dialog('close');
                        }
                    }
                } );

                $("#del_match_div").dialog({
			autoOpen: false,
			height: 400,
			width: 400,
			modal: true,
                        title: "{% trans "Delete match" %}",
                      });
                $("#del_match_div").dialog( 'open' );
            } else {
                 alert( " cannot load match " );
            }
       }
    );

    return false;
}




function not_logged_in_alert() { // bind click event to link
        alert('{% trans "Please login first with the Connect button." %}');
        return false;
}


$(function(){

    $("#loading").centerInClient(); 

    $("#loading").ajaxStart(function(){
         $(this).show();
      }).ajaxStop(function(){
         $(this).hide();
    });

    $('#create_match_link').click( not_logged_in_alert );


    $("#create_match_div").dialog({
			autoOpen: false,
			height: ( $(window).height() - 20 ),
			width: 700,
			modal: true,
                        title: "{% trans "Create new match" %}",
                      });

    $("#match_created_div").dialog({
			autoOpen: false,
			height: ( $(window).height() - 20 ),
			width: 700,
			modal: true,
                        title: "{% trans "Match created" %}",
                      });

{% if IN_DEV_SERVER %}
    check_connect_status(1234);
{% endif %}

});


</script>


</head>

<body>


{% load i18n %}

<div class="container">
<br />
<div class="span-6 colborder">

    <div>&nbsp</div>

    <div id="user_div"> 

        <p>{% trans "Press the connect button to log in with your Facebook account" %} ({% trans "if you don't have a Facebook account, you will get the option to register" %}).</p><fb:login-button onlogin="update_user_box()"></fb:login-button>

    </div> <!-- user div-->

</div>

<div class="span-10 colborder">

<hr class="space" />

<h1>{% trans "Idea Match" %}</h1>

<hr />

<h3 class="alt">{% trans "Description goes here." %}</h3>

</div>  <!-- span-10 -->

<div class="span-6 last">

    <div>&nbsp</div>

<!-- <script src="http://connect.facebook.net/{{locale}}/all.js#xfbml=1"></script><fb:like href="http://open-letter-to.appspot.com" layout="button_count" show_faces="true" width="450" action="recommend" font="arial"></fb:like> -->

{% include "lang_selector.html" %}

</div>   <!-- span-8 last -->

<hr />

<div style="text-align:center;" id="create_match_link_div" class="span-24 last">
<a href='create' id='create_match_link'>{% trans "Create new match" %}</a>

<div id="loading" style="display:none;z-index:100000">
  <p><img src="images/please_wait.gif" /></p>
</div>

</div>


<div id="existing_matches_section" class="span-24 last"></div>

<div id="footer_section" class="span-24 last">
<br />

{% trans "To create a letter, login with your Facebook account, click on the link above, and fill out the form." %} {% trans "Your letter will get its own URL that you can distribute to signers." %} {% trans "Letters can  be about any subject. Here are some samples:" %}

<a target="_blank" href="conf_sample">{% trans "Binational conference agreement" %}</a> ({% trans "English" %} / {% trans "Spanish" %}),
<a target="_blank" href="neigh_sample">{% trans "neighborhood protest" %}</a> ({% trans "English" %}),

<a target="_blank" href="thank_you_sample">{% trans "thank-you letter" %}</a> ({% trans "Spanish" %}). {% trans "Feel free to test signing the sample letters." %}
<br />
<br />
{% trans  "Users can choose to have their letters listed in our" %} <a target="_blank" href="public_list">{% trans "public letter list" %}</a>.
<br />
<br />
{% trans "Open-letter-to is free to use by anyone and is provided with no guarantees." %} {% trans "It is hosted at the Google Appengine server cloud (appspot), so it should be very reliable." %} {% trans "We are not responsible from any content added by our users and reserve the right to remove abusive letters." %} {% trans "If you have questions or suggestions, or would like to help us translate this website to a new language, please write to:" %} <a target="_blank" href="mailto:open.letter.to1@gmail.com">open.letter.to1@gmail.com</a>.
<br />
<br />
<div style="text-align:center">{% include "lang_footer.html" %}</div>
<br />

<div style="text-align:center"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fopen-letter-to.appspot.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></div>
</div>


<div id="create_match_div" style="display:none;width=500px;height=500px;" class="span-24 last">

    <form id="create_match_form" action="ajax.html" method="post"> 

<br />

        <input type="hidden" name="action" value="new_match" />

        <input class="fb_uid_input" type="hidden" name="fb_uid" value="FOO BAR" />

                <label>{% trans "Match title" %}</label><br />
                <input class="span-9-FOO" type=text name="match_title" width=40 maxlength=128>
<br />
<br />

                <label>{% trans "Match URL name" %}</label>
<br />
   http://ideamatch.appspot.com/<input type=text name=match_url_name size=20 maxlength=40> <br />
<span class="quiet">{% trans "Only dashes, underscores and lower case letters allowed. This is the URL your match will have." %}</span>
<br />
<br />

<label>{% trans "Description of Match" %}</label>
<br />
                <textarea class="span-13" style="height:40px;" name="match_desc" id="match_desc"></textarea>
<br />
<div class="quiet" style="clear:both;">{% trans "A short paragraph explaining what the match is about." %}</div>
<br />
<label>{% trans "Extended description (optional)" %}</label>
<br />
                <textarea class="span-13" style="height:120px;" name="match_extended_desc" id="match_extended_desc"></textarea>
<br />
<div class="quiet" style="clear:both;">{% trans "Bold and italic text can be obtained by surrounding it with <strong>strong</strong> and <em>em</em> html tags. Example: &lt;strong&gt;Joe&lt;/strong&gt; will be shown as <strong>Joe</strong>." %}</div>
<br />
<br />

                <p><input type="submit" value="{% trans "Create Match" %}" /></p>
<br />
        </form>


</div> <!-- span-24 create_match_div -->


<div id="del_match_div" style="display:none;width=400px;height=400px;" class="span-24 last">
     <h2 id="del_match_title">FOO BAR</h2>
     <p>{% trans "Number of ideas:" %} <span id="del_match_num_ideas">FOO BAR</span></p>
     <form id="del_match_form" action="ajax.html" method="post"> 
        <input class="fb_uid_input" type="hidden" name="fb_uid" value="FOO BAR" />
        <input type="hidden" name="action" value="del_match" />
        <input type="hidden" id="del_match_key" name="match_key" value="FOO BAR" />
       <p>{% trans "Are you sure you want to delete this match and its ideas?" %}</p>
<br />
<p><input type="submit" value="{% trans "Delete Match" %}" />  

<input type="button" value="{% trans "Cancel" %}" onclick="$('#del_match_div').dialog('close');"/></p>
     </form>
</div>




<div id="edit_match_div" style="display:none;width=500px;height=500px;" class="span-24 last"></div>

<div id="letter_trans_div" style="display:none;width=500px;height=500px;" class="span-24 last"></div>


<div id="match_created_div" style="display:none;width=400px;" class="span-24 last">

<br />
{% trans "Your match is now created." %}
<br /><br />
{% trans "You can see it at:" %} <a id="match_created_link" target="_blank" href=""><b>http://ideamatch.appspot.com/<span class="match_created_url_name"></span></b></a><br />
{% trans "You can distribute this URL to participants." %}

<br /><br />
[<a href='edit' id='match_created_edit_link'>{% trans "Edit match" %}</a>]<br />
{% trans "You match can be edited while it has no participants." %}
<br /><br />

{% trans "You can embed your match in your own website, by adding the following html code to it:" %}
<br />
<p style="font-family: 'Courier New';">
&lt;iframe src="http://ideamatch.appspot.com/<span class="match_created_url_name"></span>" width="100%" height="500"&gt;&lt;/iframe&gt;
</p>

<input type="button" value="{% trans "Close" %}" onclick="$('#match_created_div').dialog('close');"/>

</div>

</div>  <!-- container -->


<script type="text/javascript">





var cached_fb_uid = 0;

function check_connect_status( fbuid ) { 

    if( fbuid == null ) {

       showLoading();

       window.location.reload();
       return;
    }

    hideLoading();

    cached_fb_uid = fbuid;

    update_user_box( fbuid );
}

function not_connected_func() { 

//    alert('hello at not_connected_func');
}




//
// runs when the user logs in
//
function update_user_box( fbuid ) { 

    cached_fb_uid = fbuid;

//alert( 'putting fbuid in hidden fields' + fbuid );

    // save fbuid in sign forms hidden field
    $('.fb_uid_input').val( fbuid );


    $('#create_match_form').ajaxForm({
         dataType:  'json', 
         success: function(data) { 
          if( data.error ) {
                 alert( data.error );
             } else {


        $("#create_match_div").dialog('close');

        $(".match_created_url_name").html(data.url_name);

        $("#match_created_link").attr('href', data.url_name);

        $('#match_created_edit_link').click(function(event) {
             $("#match_created_div").dialog('close');
             show_edit_dialog(data.match_key);
             return false;
        });

        $('#existing_matches_section').html( data.user_matches );

        $("#match_created_div").dialog('open');


             }
         }
        }
       );

    // unbind the not-logged-in alert handler
    $('#create_match_link').unbind('click', not_logged_in_alert );

    $('#create_match_link').click(function() { // bind click event to link
        $("#create_match_div").dialog('open');
        return false;
    });

//    $("#create_match_link").show();

    var user_box = document.getElementById("user_div"); 

    // add in some XFBML. note that we set useyou=false so it doesn't display "you"

    user_box.innerHTML = "<p>"
                   + "<div style='margin: 0em 1em 1em 0.5em; float: left;'><fb:profile-pic uid='loggedinuser' facebook-logo='true'></fb:profile-pic></div>"
                   + "{% trans "Welcome," %} <fb:name uid='loggedinuser' useyou='false'></fb:name>. {% trans "You are connected with your Facebook account." %}"
                   + "</p>"
                   + "";


{% if NOT_IN_DEV_SERVER %}
    FB.XFBML.Host.parseDomTree();
{% endif %}

    // load any existing letters
    $.getJSON("ajax.html?action=load_existing_matches;fb_uid=" + fbuid,

       function(data){

            if( data.has_matches == 1 ) {

                $('#existing_matches_section').html( data.user_matches );
             }

{% if NOT_IN_DEV_SERVER %}
            //ENABLE WHEN DEPLOYING (ONLY IF FB TAGS ARE ADDED TO DOC)
//            FB.XFBML.Host.parseDomTree();
{% endif %}

       }
    );
}

//alert( 'calling FB_RequireFeatures' );

{% if NOT_IN_DEV_SERVER %}
FB_RequireFeatures( ["XFBML"], function(){ FB.Facebook.init("c2015d9b196956aea3eda25950b90058", "xd_receiver.htm", {"ifUserConnected" : check_connect_status, "ifUserNotConnected" : not_connected_func }); });
{% endif %}


// enable to simulate not-connected functionality
//not_connected_func();


</script>

</body>

</html>


