{% load i18n %}

<h2>{{letter.title}}</h2>

        {% for sig in letter_sigs %}

<div id="{{sig.sig_key}}">

       {% if sig.pic_url %}<img class="signer_pic" src="{{sig.pic_url}}" />{% endif %}<strong>{{ sig.name|escape }}</strong>

       {% if sig.location %} &nbsp; <em>{{ sig.location|escape }}</em> {% endif %}

       {% if sig.comment %} &mdash; {{ sig.comment|escape }} {% endif %}

[<a href='delete' id='del_sig' onclick="delete_sig( '{{ sig.sig_key }}' ); return false;">{% trans "Delete" %}</a>] 

<hr />
</div>
        {% endfor %}

