<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
                <meta property="fb:app_id" content="331909936825023"/>
		<title>{% trans %}Five Votes{% endtrans %}</title>
		<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
                <script type="text/javascript" src="js/jquery.form.js"></script>
                <script type="text/javascript" src="js/jquery.tmpl.js"></script>
                <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
                <script type="text/javascript" src="js/jquery.debouncedresize.js"></script>
                <script type="text/javascript" src="js/jquery.autosize.min.js"></script>
                <script type="text/javascript" src="js/fileuploader.js"></script>
                <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>
                <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
                <link href="css/fileuploader.css" rel="stylesheet" type="text/css">
                <link href="css/start/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css">
                <link href="css/main.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<script type="text/javascript" src="js/main.js"></script>

</head>


<body>
<div id="whole_page" style="display:none;">
{% include "templates/client_tmpls.inc" %}

{% include "templates/control.inc" %}

<div id="app_logo">
<div class="mytube"><a href="{{BASE_URL}}/" target="_top"><span id="logo_text"><span style="color:red;">&#10003;&#10003;&#10003;&#10003;&#10003;</span> {% trans %}Five Votes{% endtrans %}</span></a></div>
</div>

<p>

<fb:login-button autologoutlink="true" scope="publish_stream"></fb:login-button>

NAME? {{current_user.name}} <--

</p>

{% if question_page %}

    {% include "templates/question_page.inc" %}

{% else %}

    {% if usr_page %}

        {% include "templates/user_page.inc" %}

    {% else %}    

        {% if recent_questions_page %}

            {% include "templates/recent_page.inc" %}

        {% else %}    

            {% if priv_pol %}

                {% include "templates/priv_pol.inc" %}

            {% else %}    

                {% include "templates/main_page.inc" %}

            {% endif  %}

        {% endif  %}

    {% endif  %}

{% endif  %}

{% include "templates/footer.inc" %}

</div>
</body>
</html>

