{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{% trans "Five Votes" %}</title>
		<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
                <script type="text/javascript" src="js/jquery.form.js"></script>

        <script type="text/javascript">
//            $(function(){
//               alert('hello from jquery');
//            });
        </script>

    </head>
<body>

   <div id="fb-root"></div>

   <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '331909936825023',
            channelUrl : '//five-votes.appspot.com/channel.html',
            status     : true, 
            cookie     : true,
            xfbml      : true
          });

          //
          // when the user clicks the login button, this event is fired,
          // response contains the user data, but we prefer to reload
          // so that a user is created
          //
          FB.Event.subscribe('auth.login', function(response) {
              // Reload the entire page. Could also do an Ajax request and dynamically
              // update the already loaded page.
              window.location.reload(true);
          });

//
//          FB.ui({ method: 'feed', 
//                  message: 'Facebook for Websites is super-cool'});

            FB.getLoginStatus(function(response) {

              if (response.status === 'connected') {
                // the user is logged in and connected to your
                // app, and response.authResponse supplies
                // the user's ID, a valid access token, a signed
                // request, and the time the access token 
                // and signed request each expire
                var uid = response.authResponse.userID;
                var accessToken = response.authResponse.accessToken;
            
//            alert('user connected ' +  uid + ' -- ' + accessToken );

// XXX poner codigo en un div, llamar FB.XFBML.Host.parseDomTree();
// (ver index.html)
//                   $('#login_div').html(
//                      "<p><fb:profile-pic uid='loggedinuser' facebook-logo='true'></fb:profile-pic> Welcome, <fb:name uid='loggedinuser' useyou='false'></fb:name>. You are logged in with your Facebook account.</p>" );
//                   FB.XFBML.parse( document.getElementById('login_div') );

              } else if (response.status === 'not_authorized') {
                // the user is logged in to Facebook, 
                //but not connected to the app

                $('#welcome_msg').show();

//            alert( 'not authorized' );
            
              } else {
                // the user isn't even logged in to Facebook.
            
            alert( 'not logged in to FB' );
            
              }
            
            });
        };

        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));

    </script>

<div id="welcome_msg" style="display:none;">Welcome, in order to use this app, you must sign in with your facebook account:
</div>

<fb:login-button show-faces="true"></fb:login-button>

{% include "lang_selector.html" %}

<p>Locale is: {{locale}}</p>

<p>User there is: {{user_there}}</p>

</body>
</html>
