
body {
    background-color: #ffffff;
    font: medium/1.2 Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

.delete_answer_div {
  background-color: #e5f6fd;
  position:absolute;top:2px;right:7px;"
  padding:2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

textarea {
    border:2px solid #ccc;
    vertical-align: top;
}

div.centered_container {top: 0; left: 0; width: 100%; height: 100%; display: table}

p.centered_paragraph {display: table-cell; vertical-align: middle; text-align:center;}

#app_logo {
    width:100%;
    display:table;
    background-color:#00aff0;
    text-align: left;

    font-family:Impact,sans-serif;
    font-style:italic;
    color:white;
    font-size: 130%;

/*    font-weight: bold; */
/*    margin-left:auto; 
    margin-right:auto; 
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
    border-radius: 3px; */
}

#app_logo A:link {color:#FFFFFF; text-decoration:none;}      /* unvisited link */
#app_logo A:visited {color:#FFFFFF;}  /* visited link */
#app_logo A:hover {text-decoration:underline;}  /* mouse over link */

#super_top_container {
    text-align: center;
    width:100%;
}

#top_container {
   margin: 0px auto;
/*   padding: 10px; */
}

#main_container {
    width:100%;
    padding:0px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.question_text {
    display:table;
/*    background-color:#ffffff; */
    color:black;
    text-align: center;
    font-size: 130%;
/*    font-weight: bold; */
    margin-left:auto; 
    margin-right:auto; 
    margin-bottom:10px;
    margin-top:15px;
/*   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
    border-radius: 3px; */
}

.answer_text {
  font-size: 90%;
/*  font-weight:bold; */
}

.answer_card {
/*  display: inline-block; */
  position: relative; 
  float: left; 
/*  width: 120px; */
/*  height: 150px; */
  margin: 5px;
  background-color: #e5f6fd;
  border: 1px solid #b3e7fa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
/*  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; */
}

.card_inset {
  text-align: left;
  width:192px;
/*  height:160px; */
  display:table-cell;
  vertical-align:middle;
}


.answer_picture {
/*	border: 1px solid #000000; */
    margin-bottom:5px;
}

.my_button, button.my_button {
	/* layout */
	padding: .3em .9em;
	/* text */
	font-size: 1em;
	/* color */
	background-color: #0896FF;
	color: #FFF;
	/* border and roundedness */
#	border: 4px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/* shadow */
	-moz-box-shadow: 1px 1px 2px #999;
	-webkit-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', direction='120', strength='2');
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
        font-weight:bold;
}

.my_button:hover, button.my_button:hover, button.my_button_hover {
	background-color: #003580;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
}

.add_ans_class {
   background-color: #e5f6fd;
   border: 1px solid #b3e7fa;
   text-align: center;
   display:table;
   margin-left:auto; 
   margin-right:auto;
   font-size: 80%;
   clear:both;
}

.vote_link {
  font-size: 0.8em;
}

.vote_link A:link {color:#0000FF; text-decoration:none;}      /* unvisited link */
.vote_link A:visited {color:#0000FF;}  /* visited link */
.vote_link A:hover {text-decoration:underline;}  /* mouse over link */


.question_link {
  font-size: 1.2em;
}

.question_link A:link {color:#0000FF;text-decoration:none;}      /* unvisited link */
.question_link A:visited {color:#0000FF;text-decoration:none;}  /* visited link */
.question_link A:hover {text-decoration:underline;}  /* mouse over link */


.minus_vote_div {
  display:none;
  margin-top:10px;
  float:left;
  margin-left:5px;
}

.plus_vote_div {
    margin-top:10px;
    float:right;
    margin-right:5px;
}

.comment_div {
    clear:both;
}



.prev_questions_count_inset {
  opacity: .78;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:0px;
  padding-left:10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position:absolute;top:12px;right:12px;"
  display:table-cell;
  width:45px;
  height:30px;
  background-color: #00FF00;
}

.count_inset {
  display:none;
  opacity: .78;
  padding:2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position:absolute;top:10px;right:10px;"
  display:table-cell;
  width:45px;
  height:30px;
  background-color: #FFFFFF;
/*  font-size: 20px;
  font-weight:bold; */
}

.whirly_box {
  margin-top:7px;
  margin-left:15px;
}

.count_text {
  font-size: 25px;
  color: red;
  margin-left:8px;
}

.voted_answer {
   background-color:#c5f982;
/*   padding-top:37px; */
}

.results_card {
  background-color: #e5f6fd;
  border: 1px solid #b3e7fa;
    margin:5px;
    padding:0px;
    text-align: left;
    max-width:400px;
    display: inline-block;
    /* IE7 bs */
    *display: inline;
    zoom: 1;
}

.results_count_text {
  color: #FF0000;
  float:right;
  font-size: 25px;
  margin:10px;
}


.results_text {
  color: black;
  float:left;
  font-size: 120%;
/*  line-height:55px; */
  margin: 10px;
}

.results_pic {
  float:left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.selector_class {
    padding:00px;
    display:table;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom:10px;
    clear:both;
}

.result_selector {
  position: relative; 
  float: left;
  margin:2px;
  padding:10px;
  background-color:#a2f1ff;
  color:black;
  text-align: center;
  font-size: 90%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
   border-radius: 3px;
}

.selected_result {
  background-color:#ffa7be;
    font-weight: bold;
}

#result_answers_div {
    padding:0px;
    display:table;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}


.hidden {
  display:none;
}
.visible {
  display:inline;
}


#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-right: 330px; /*Set right margin to RightColumnWidth*/
}

#rightcolumn{
float: left;
width: 330px; /*Width of right column in pixels*/
margin-left: -330px; /*Set left margin to -(RightColumnWidth) */
}

#footer{
    clear: left;
    width:100%;
    display:table;
    background-color:#00aff0;
    margin-top:10px;
    text-align: right;
    color:black;
    font-size: 0.8em;
}

#footer a{
  font-size: 1.6em;
}

.innertube{
margin: 5px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0px;
}

.toptube{
margin-top: 5px;
}

.mytube{
margin: 7px; /*Margins for inner DIV inside each column (to provide padding)*/
}


#right_col {
   margin-left:5px;
}

#maincontainer {
    text-align: center; 
/*    margin-left:auto; 
    margin-right:auto; 
   width:96%; */
}

.tiny {
  text-align:left;
  font-size: 0.6em;
}

.prev_question_class {
    position: relative; 
    width:100%;
    padding:0px;
    display:table;
    background-color: #f8eff9;
    border: 1px solid #b535ff;
    text-align: left;
    margin-top: 5px;
    margin-left:auto; 
    margin-right:auto; 
}

.invisible {
  display:none;
}

#answers_div  {
    background-color:#ffffff; 
    margin: 0 auto;
    clear:both;
}



.author_link {
 font-size: 0.8em;
}

.author_link A:link {color:#999999; text-decoration:none;}      /* unvisited link */
.author_link A:visited {color:#999999;}  /* visited link */
.author_link A:hover {text-decoration:underline;}  /* mouse over link */



#usr_page_div {
  width: 90% ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10px;
  margin-bottom: 10px;
}

.usr_page_link {
    margin:10px;
    font-size: 90%;
}

.play_inset {
  display:none;
  padding:2px;
  position:absolute;top:22px;right:65px;"
  display:table-cell;
}

a.play_inset_link img {
filter:alpha(opacity=50);
-moz-opacity: 0.5; 
opacity: 0.5;
-khtml-opacity: 0.5;}

a.play_inset_link:hover img {
filter:alpha(opacity=100); 
-moz-opacity: 1.0; 
opacity: 1.0;
-khtml-opacity: 1.0; }


#modal_overlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	filter:alpha(opacity=50);
}

#modal {
	position:absolute;
	background:url(tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
}

#modal_content {
	border-radius:8px;
	background:#fff;
	padding:20px;
}

#modal_close {
	position:absolute;
	background:url(close.png) 0 0 no-repeat;
	width:24px;
	height:27px;
	display:block;
	text-indent:-9999px;
	top:-7px;
	right:-7px;
}

.question_card {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
    margin:5px;
    padding:0px;
    text-align: left;
    max-width:400px;
    display: inline-block;
    /* IE7 bs */
    *display: inline;
    zoom: 1;
}


.recent_question_card {
  background-color: #e5f6fd;
  border: 1px solid #b3e7fa;
    margin:5px;
    padding:10px;
    text-align: left;
    max-width:400px;
    display: inline-block;
    /* IE7 bs */
    *display: inline;
    zoom: 1;
}

.rec_q_link A:link {color:#0000FF;text-decoration:none;}      /* unvisited link */
.rec_q_link A:visited {color:#0000FF;text-decoration:none;}  /* visited link */
.rec_q_link A:hover {text-decoration:underline;}  /* mouse over link */


.question_desc {
    font-size:90%;color:#555555;font-style:italic;
}
